.button {
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  border-radius: 55px;
  text-decoration: none;
  display: inline-block;
  background-color: #fed700;
  transition: background-color 0.3s;
}

.primary {
  background-color: #fed700;
}

.secondary {
  background-color: white;
  border: 1px solid #d8dae9;
}

.primary:hover {
  /* background-color: #feba0c;
  color: #f44336; */
}
